<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Main_Page.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='Images/favicon.ico') }}"
      type="image/x-icon"
    />
  </head>
  <body class="fon">
    <header>
      <nav class="top-line">
        <div class="light-or-dark">
          <a class="light-or-dark-link" href="#">
            <img
              src="{{ url_for('static', filename='Images/YumiYumiNoMi.webp') }}"
              alt="light-or-dark"
              class="light-or-dark-img"
            />
          </a>
        </div>
        <div>
          <ul class="top-line-list">
            <li>
              <a class="top-line-list-link" href="{{ url_for('news') }}"
                >Новинки</a
              >
            </li>
            <li>
              <a class="top-line-list-link" href="{{ url_for('devil_fruits') }}"
                >Devil Fruits</a
              >
            </li>
            <li>
              <a class="top-line-list-link" href="{{ url_for('anime') }}"
                >Anime</a
              >
            </li>
          </ul>
        </div>
      </nav>
      <div class="logo">
        <a class="logo-img" href="{{ url_for('main_page') }}">
          <img
            src="{{ url_for('static', filename='Images/Logo-fotor-bg-remover-20250219233252.png') }}"
            alt="логотип"
          />
        </a>
      </div>
    </header>
    <div>
      <div class="search-menu">
        <div class="profile">
          <a href="{{ url_for('profile') }}">
            <img
              src="{{ url_for('static', filename='Images/profile-icon.png') }}"
              alt="Profile"
              style="width: 30px"
            />
          </a>
        </div>
        <div class="search-box">
          <input type="text" placeholder="Пошук аніме..." id="searchInput" />
          <button id="searchBtn">Пошук</button>
        </div>
        <div class="icons">
          <a href="https://www.instagram.com/vojchuk_dmitro/" target="_blank">
            <img
              src="{{ url_for('static', filename='Images/instagram-icon.png') }}"
              alt="Instagram"
              style="width: 30px"
            />
          </a>
          <a href="https://www.youtube.com/@Will0fD.tvadds/" target="_blank">
            <img
              src="{{ url_for('static', filename='Images/youtube-icon.png') }}"
              alt="YouTube"
              style="width: 30px"
            />
          </a>
        </div>
      </div>

      <div class="container">
        <div class="main-panel">
          <h1 class="title">Аніме</h1>
          <div class="cards">
            {% for anime in animes %}
            <a
              href="{{ url_for('anime_episodes', key=anime.key) }}"
              class="card-link"
            >
              <div class="card">
                <h2>{{ anime.title }}</h2>
                <img
                  class="anime-cover"
                  src="{{ url_for('static', filename=anime.cover.replace('static/', '')) }}"
                  alt="{{ anime.title }}"
                />
                <p>{{ anime.description }}</p>
                <p>Genres: {{ anime.genres }}</p>
              </div>
            </a>
            {% else %}
            <p>No anime found.</p>
            {% endfor %}
          </div>
        </div>

        <div class="sidebar">
          <h3>Останні переглянуті</h3>
          <ul class="sidebar-list">
            <li>One Piece</li>
            <li>Naruto</li>
            <li>Bleach</li>
          </ul>
          <h3>Жанри</h3>
          <ul class="sidebar-list">
            <li><a href="#">Бойовик</a></li>
            <li><a href="#">Фентезі</a></li>
            <li><a href="#">Пригоди</a></li>
            <li><a href="#">Романтика</a></li>
            <li><a href="#">Ісєкай</a></li>
            <li><a href="#">Комедія</a></li>
            <li><a href="#">Повсякденність</a></li>
            <li><a href="#">Драма</a></li>
            <li><a href="#">Фантастика</a></li>
            <li><a href="#">Містика</a></li>
            <li><a href="#">Детектив</a></li>
            <li><a href="#">Триллер</a></li>
            <li><a href="#">Психологія</a></li>
          </ul>
          <h3>Топ популярних</h3>
          <div class="top-anime">
            <div class="anime-item">
              <img
                src="{{ url_for('static', filename='Images/logo_one_piece') }}"
              />
              <span>One Piece</span>
            </div>
          </div>
          <div class="top-anime">
            <div class="anime-item">
              <img
                src="{{ url_for('static', filename='Images/logo_naruto.jpg') }}"
              />
              <span>Naruto</span>
            </div>
          </div>
          <div>
            <h4 class="title-white">Випадковий диявольський фрукт</h4>
            <div class="card">
              <img
                class="devil-fruits"
                src="{{ url_for('static', filename='Images/GomuGomuNoMi.png') }}"
                alt="Фрукт Гому Гому"
              />
              <h4>Фрукт Гому Гому но Мі</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/episodes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/anime.js') }}"></script>
  </body>
</html>
