<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WillOfD.tv</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Main_Page.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='Images/favicon.ico') }}"
      type="image/x-icon"
    />
  </head>
  <body class="fon">
    <header>
      <nav class="top-line">
        <div class="light-or-dark">
          <img
            src="{{ url_for('static', filename='Images/YumiYumiNoMi.webp') }}"
            alt="light-or-dark"
            class="light-or-dark-img"
          />
        </div>
        <div>
          <ul class="top-line-list">
            <li>
              <a class="top-line-list-link" href="{{ url_for('news') }}"
                >Новинки</a
              >
            </li>
            <li>
              <a class="top-line-list-link" href="{{ url_for('devil_fruits') }}"
                >Devil Fruits</a
              >
            </li>
            <li>
              <a class="top-line-list-link" href="{{ url_for('anime') }}"
                >Anime</a
              >
            </li>
          </ul>
        </div>
      </nav>
      <div class="logo">
        <a class="logo-img" href="{{ url_for('main_page') }}">
          <img
            src="{{ url_for('static', filename='Images/Logo-fotor-bg-remover-20250219233252.png') }}"
            alt="логотип"
          />
        </a>
      </div>
    </header>

    <div>
      <div class="search-menu">
        <div class="profile">
          <a href="{{ url_for('profile') }}">
            <img
              src="{{ url_for('static', filename='Images/profile-icon.png') }}"
              alt="Profile"
              style="width: 30px"
            />
          </a>
        </div>
        <div class="search-box">
          <input type="text" placeholder="Пошук аніме..." id="searchInput" />
          <button id="searchBtn">Пошук</button>
        </div>
        <div class="icons">
          <a href="https://www.instagram.com/vojchuk_dmitro/" target="_blank">
            <img
              src="{{ url_for('static', filename='Images/instagram-icon.png') }}"
              alt="Instagram"
              style="width: 30px"
            />
          </a>
          <a href="https://www.youtube.com/@Will0fD.tvadds/" target="_blank">
            <img
              src="{{ url_for('static', filename='Images/youtube-icon.png') }}"
              alt="YouTube"
              style="width: 30px"
            />
          </a>
        </div>
      </div>

      <div class="content">
        <div class="main-panel">
          <h2 class="title">Останні переглянуті</h2>

          {% if is_guest %}
          <div class="guest-message">
            <p>👋 Вітаємо на сайті <strong>WillOfD.tv</strong>!</p>
            <p>
              Щоб зберігати прогрес перегляду аніме, рекомендуємо
              <strong>зареєструватись або увійти</strong>.
            </p>
            <a href="{{ url_for('profile') }}" class="register-button">
              Перейти до реєстрації
            </a>
          </div>
          {% elif last_seen %} {% for entry in last_seen %}
          <div class="episode-header">
            <a
              href="{{ url_for('view_episode', key=entry.anime_key, season_number=entry.season_number, episode_number=entry.episode_number) }}"
            >
              <img
                class="anime-cover-last-seen"
                src="{{ url_for('static', filename=entry.cover) }}"
                alt="Anime Cover"
              />
            </a>
            <div class="anime-details">
              <h2 class="anime-title">{{ entry.anime_title }}</h2>
              <h2 class="anime-title">
                Сезон {{ entry.season_number }} | Серія {{ entry.episode_number
                }}
              </h2>
            </div>
          </div>
          {% endfor %} {% else %}
          <p>У вас ще немає переглянутих аніме.</p>
          {% endif %}
        </div>

        <div class="sidebar">
          <h3>Жанри</h3>
          <ul class="sidebar-list">
            <li><a href="#">Бойовик</a></li>
            <li><a href="#">Фентезі</a></li>
            <li><a href="#">Пригоди</a></li>
            <li><a href="#">Романтика</a></li>
            <li><a href="#">Ісєкай</a></li>
            <li><a href="#">Комедія</a></li>
            <li><a href="#">Повсякденність</a></li>
            <li><a href="#">Драма</a></li>
            <li><a href="#">Фантастика</a></li>
            <li><a href="#">Містика</a></li>
            <li><a href="#">Детектив</a></li>
            <li><a href="#">Триллер</a></li>
            <li><a href="#">Психологія</a></li>
          </ul>

          <h3>Топ популярних</h3>
          <div class="top-anime">
            <div class="anime-item">
              <img
                src="{{ url_for('static', filename='Images/logo_one_piece') }}"
              />
              <span>One Piece</span>
            </div>
          </div>
          <div class="top-anime">
            <div class="anime-item">
              <img
                src="{{ url_for('static', filename='Images/logo_naruto.jpg') }}"
              />
              <span>Naruto</span>
            </div>
          </div>

          <div>
            <h4 class="title-white">Випадковий диявольський фрукт</h4>
            <div class="card">
              <img
                class="devil-fruits"
                src="{{ url_for('static', filename='Images/GomuGomuNoMi.png') }}"
                alt="Фрукт Гому Гому"
              />
              <h4>Фрукт Гому Гому но Мі</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

